{% extends 'food/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img width="350px" src="{{ item.item_image }}" alt="Image not found" class="card"/>
        </div>
        <div class="col-md-8">
            <h1>Name: {{ item.item_name }}</h1>
            <h2>Description: {{ item.item_desc }}</h2>
            <h3>Price: Rs. {{ item.item_price }}</h3>
            <br>
            <h6>Added by: {{ item.user_name }}</h6>
            <a href="{% url 'food:update_item' item.id %}">Update</a>
            <a href="{% url 'food:delete_item' item.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}